@media screen and (max-width: 1129px){
    .top-header {
        padding-top: 9px;
        position: sticky;
        top: 0;
        z-index: 999;
        background: #fff;
        height: 50px;
    }
}
@media screen and (max-width: 1369px){
    .main-nav .parent {
        position: relative;
    }
    .main-nav .parent li {
        margin-right: 10px;
    }
}
.section {
    width: 100%;
    float: left;
}
.top-header {
    padding: 8.5px 0;
    border-bottom: 1px solid #e5e5e5;
    background-color: #343a40;
}
.container {
    width: 100%;
    max-width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}
.wrap-main-nav {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
}
.main-nav {
    width: 100%;
    float: left;
    clear: both;
    font-size: 14px;
    overflow: hidden;
    border-bottom: 1px solid #e5e5e5;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7,1,.7,1);
}
.main-nav .parent {
    justify-content: space-between;
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 15px;
}
.main-nav .parent li.home {
    padding: 12px 0;
}
.main-nav .parent li.home a {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #e5e5e5;
    justify-content: center;
    padding: 0;
    position: relative;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7,1,.7,1);
}
.main-nav .parent li.home a .ic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7,1,.7,1);
}
.ic {
    width: 16px;
    height: 16px;
    fill: #757575;
    display: inline-block;
    vertical-align: middle;
}
.main-nav .parent li.home a .ic.ic-evne {
    opacity: 0;
    width: 20px;
    height: 20px;
}
ul, li {
    list-style-type: none;
}
#to_top {
    width: 40px;
    height: 40px;
    background: #fff;
    border: 1px solid #e5e5e5;
    line-height: 40px;
    text-align: center;
    border-radius: 3px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.up-btn {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    font-size: 24px;
    background: #17a2b8;
    border-radius: 100%;
    z-index: 1039;
    cursor: pointer;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    color: white;
}
.up-btn:not(.up-btn__hide) div::after {
    content: "";
    position: absolute;
    right: 20px;
    width: 15px;
    height: 2px;
    background: #fff;
    transform: rotate(-45deg);
}
.up-btn:not(.up-btn__hide) div::after {
    content: "";
    position: absolute;
    right: 20px;
    width: 15px;
    height: 2px;
    background: #fff;
    transform: rotate(-45deg);
}
